<!DOCTYPE html>
<html lang="en">

<!--Partial de HEAD-->
<%- include('../parciales/head') %>

<body>
    <!--partial de HEADER-->

    <%- include('../parciales/header') %>

    <main>
        <section class="imagenes-y-eleccion">
            <div class="imagenes-producto">
                <div class="imagen-producto-principal">
                    <h2></h2>
                    <img src="/images/<%= product.imagen %>" alt="<%= product.nombre %>" width="80%">
                </div>
                <!-- <div class="imagenes-chicas">
                    <div>
                        <img src="/images/camisa1_1.jpeg" alt="camisa blanca" width="100%">
                    </div>
                    <div>
                        <img src="/images/camisa1_2.jpeg" alt="camisa natural">
                    </div>
                    <div>
                        <img src="/images/camisa1_3.jpeg" alt="camisa negra">
                    </div>
                    <div>
                        <img src="/images/camisa1_4.jpeg" alt="camisa suela">
                    </div>
                </div> -->
            </div>
            <div class="div-eleccion-producto">
                <form action="/cart/productCart/8" method="GET" class="eleccion-producto">
                    
                    <p><%= product.nombre %> <br><br>$ <%= product.precio %>  </p>

                    <fieldset>
                        <legend>Elige un color</legend>
                        <label>
                            <input type="radio" name="color" value="Blanco" class="color">Blanco
                        </label>
                        <label>
                            <input type="radio" name="color" value="Natural" class="color">Natural
                        </label>
                        <label>
                            <input type="radio" name="color" value="Negro" class="color">Negro
                        </label>
                        <label>
                            <input type="radio" name="color" value="Suela" class="color">Suela
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Elige un talle</legend>
                        <label>
                            <input type="radio" name="talle" value="1"> 1
                        </label>
                        <label>
                            <input type="radio" name="talle" value="2"> 2
                        </label>
                    </fieldset>
                    <div class="agregar-carrito">
                        <button type="submit" class="agregar-carrito" > Agregar al carrito</button></a>
                    </div>
                    <div class="descripcion-del-producto">
                        <p>Descripción:</p>
                        <p><%= product.descripcion %> 
                        </p>
                    </div>
                    
                </form>
                
                    <a href="/products/editar/<%=product.id %>" class="editar-producto" >EDITAR PRODUCTO</a>
                    
                    
                    
                    <form action="/products/borrar/<%= product.id %>?_method=DELETE " method="POST">
                        <button  type="submit">BORRAR</button> 
                    </form>
                        
                    
                
            </div>
        </section>
        <section class="medidas">
            <table  name="tabla-de-medidas">
                <tr>
                    <th>MEDIDAS</th>
                    <th>TALLE 1</th>
                    <th>TALLE 2</th>
                </tr>
                    <td>Ancho de hombros</td>
                    <td>13.5 cm</td>
                    <td>15.5 cm</td>
                <tr>
                    <td>Contorno</td>
                    <td>100 cm</td>
                    <td>104 cm</td>
                    
                </tr>

                <tr>
                    <td>Largo de manga</td>
                    <td>64 cm</td>
                    <td>66 cm</td>
                </tr>

                <tr>
                    <td>Largo total</td>
                    <td>70 cm</td>
                    <td>74 cm</td>
                
                </tr>
            </table>
        </section>
        <section class="basado-en-tu-compra">
            <h2 class="sugerencias-de-compra">También puede interesarte...</h2>
            <div class="productos-sugeridos">
                <article>
                    <div class="articulos">
                        <div class="foto-producto">
                            <a href="/productDetail">
                                <img src="/images/sweater1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                            </a>
                        </div>
                        <div class="descripciones">
                            <p>SWEATER PARIS</p>
                        </div>
                        <div class="precios">
                            <p>$3.500</p>
                        </div>
                        <div class="loQuiero-detail">
                            <a href="/productDetail">LO QUIERO!</a>
                        </div>
                    </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/images/buzo1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>BUZO FRANCIA</p>
                            </div>
                            <div class="precios">
                                <p>$3.800</p>
                            </div>
                            <div class="loQuiero-detail">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/images/blusa1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>BLUSA ESPAÑA</p>
                            </div>
                            <div class="precios">
                                <p>$2.900</p>
                            </div>
                            <div class="loQuiero-detail">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/images/sweater2_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>SWEATER MADRID</p>
                            </div>
                            <div class="precios">
                                <p>$4.500</p>
                            </div>
                            <div class="loQuiero-detail">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
            </div>
        </section>
    </main>
    <!--partial de FOOTER-->
    <%- include('../parciales/footer') %>
</body>
</html>