<!DOCTYPE html>
<html lang="en">
 <!--parcial del head del Admin-->
 <%- include('../parciales/adminHead') %>
<body>
  <!--parcial de la barra de ADMIN -->
  <%- include('../parciales/adminHeader') %>

  <main class="main-formulario">
    <fieldset>
    <legend class="titulo-fieldset">AGREGAR UN NUEVO PRODUCTO</legend>
      
      <form action="/products/new" method="POST"  class="formulario-nuevo-producto" enctype="multipart/form-data" >
        
        <div class="nombre-producto">
          <label for="producto" class="titulo-formulario-producto">NOMBRE DEL PRODUCTO:</label>
          <input type="text" 
            name="nombre" 
            id="producto" 
            placeholder="Ej: REMERA MILÁN" 
            class="input-nombre <%=locals.errors && errors.nombre ? "is-invalid" :null %> "
            value="<%= locals.oldData ? oldData.nombre :null%>">

          <%if (locals.errors && errors.nombre){%>
            <div class="text-danger">
              <%=errors.nombre.msg%>
            </div>
          <%}%>
        </div>

        <div class="categoria-producto">
          <label for="categoria" class="titulo-formulario-producto">CATEGORIA DEL PRODUCTO:</label>
          <select 
            name="categoria" 
            id="categoria"
            class="eleccion-opciones <%= locals.errors && errors.categoria ?  "is-invalid" : null %>">

            <option value="">Elegí una categoría</option>

            <option <% if(locals.oldData && locals.oldData.categoria =="pantalones-y-shorts"){%>  selected <%}%> 
            value="pantalones-y-shorts">Pantalones y Shorts</option>

            <option <% if(locals.oldData && locals.oldData.categoria =="remeras-y-camisas"){%>  selected <%}%>
            value="remeras-y-camisas">Remeras y Camisas</option>

            <option <% if(locals.oldData && locals.oldData.categoria =="abrigos"){%>  selected <%}%>
            value="abrigos">Abrigos</option>

            <option <% if(locals.oldData && locals.oldData.categoria =="faldas-y-vestidos"){%>  selected <%}%>
            value="faldas-y-vestidos">Faldas y Vestidos</option>

            <option <% if(locals.oldData && locals.oldData.categoria =="accesorios"){%>  selected <%}%>
            value="accesorios">Accesorios</option>
          </select>
          <%if (locals.errors && errors.categoria){%>
            <div class="text-danger">
              <%=errors.categoria.msg%>
            </div>
          <%}%>
        </div>
      
        <p class= titulo-formulario-producto>IMÁGENES DEL PRODUCTO</p>
        <div class="fotos-producto">
          <div class="foto"> 
              <i class="fas fa-camera"></i>
          </div>
          <div class="input-foto">
              <label for="foto-principal" name="fotoPrinc"class="titulo-imagen">IMAGEN PRINCIPAL</label>
              <input type="file" class="foto-principal" name= "fotoPrinc" id="foto-principal">
              <%if (locals.errors && errors.fotoPrinc){%>
                <div class="text-danger">
                  <%=errors.fotoPrinc.msg%>
                  <%}%>
                </div>
            </div>
        </div>

          <!--<div class="foto">
            <i class="fas fa-camera"></i>
          </div>
          <div class="foto">
            <i class="fas fa-camera"></i>
          </div> -->

        <div class="descripcion-producto">
          <label for="descripcion" class="titulo-formulario-producto">DESCRIPCIÓN</label>
          <textarea rows="8" name="descripcion" id="descripcion"
          ><%= locals.oldData ? oldData.descripcion :null%></textarea>
        </div>

        <div class="precio">
          <label for="precio" class="titulo-formulario-producto">PRECIO</label>
          <input 
          type="tel" 
          name="precio" 
          id="precio"
          class="input-nombre <%=locals.errors && errors.precio ? "is-invalid" :null %> "
            value="<%= locals.oldData ? oldData.precio :null%>">
            
          <% if(locals.errors && errors.precio){%>
            <div class="text-danger">
              <%=errors.precio.msg%>
            </div>
              <% } %> 
            
        </div>

        <!--<div class="stock">
          <label for="stock" class="titulo-formulario-producto">Cantidad disponible:</label>
          <select name="stock" id="stock">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>

        <div class="talles">
          <label for="talles" class="titulo-formulario-producto">Talle:</label>
          <select name="talle" id="talles">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div> -->

        <div class="color">
          <label for="color" class="titulo-formulario-producto">Color:</label>
          <select 
            name="color" 
            id="color"
            class="eleccion-opciones <%= locals.errors && errors.color ?  "is-invalid" : null %>">
            
              <option value="">Elegí un color</option>

              <option <% if(locals.oldData && locals.oldData.color =="Blanco"){%>  selected <%}%>
              value="Blanco">Blanco</option>

              <option <% if(locals.oldData && locals.oldData.color =="Negro"){%>  selected <%}%>
                value="Negro">Negro</option>

              <option <% if(locals.oldData && locals.oldData.color =="Rojo"){%>  selected <%}%>
                value="Rojo">Rojo</option>

              <option <% if(locals.oldData && locals.oldData.color =="Tostado"){%>  selected <%}%>
                value="Tostado">Tostado</option>

              <option <% if(locals.oldData && locals.oldData.color =="Rosa"){%>  selected <%}%>
                value="Rosa">Rosa</option>

              <option <% if(locals.oldData && locals.oldData.color =="Gris"){%>  selected <%}%>
                value="Gris">Gris</option>

              <option <% if(locals.oldData && locals.oldData.color =="Celeste"){%>  selected <%}%>
                value="Celeste">Celeste</option>

              <option <% if(locals.oldData && locals.oldData.color =="Azul"){%>  selected <%}%>
                value="Azul">Azul</option>

              <option <% if(locals.oldData && locals.oldData.color =="Verde"){%>  selected <%}%>
                value="Verde">Verde</option>
            </select>
            <div>
              <% if(locals.errors && errors.color){%>
              <div class="text-danger">
              <%=errors.color.msg%>
              </div>
              <% } %> 
            </div>
        </div>

        <div class="publicar">
            <label for="sale" class= "titulo-formulario-producto">PUBLICAR:</label>
            <select 
                name="sale" 
                id="sale"
                class="eleccion-opciones <%= locals.errors && errors.sale ?  "is-invalid" : null %>">
            
                <option value="">Elegí una opción</option>

                <option <% if(locals.oldData && locals.oldData.sale =="si"){%>  selected <%}%>
                  value="si">Si</option>
                <option <% if(locals.oldData && locals.oldData.sale =="no"){%>  selected <%}%>
                  value="no">No</option>
            </select>
            <div>
              <% if(locals.errors && errors.sale){%>
              <div class="text-danger">
                <%=errors.sale.msg%>
              </div>
                <% } %> 
            </div>
        </div>

        <div class="boton-producto">
            <button class="agregar" type="submit">AGREGAR PRODUCTO</button>
        </div>

      </form>
    </fieldset> 
  </main> 
  <footer>
    <div class="cabeza-footer">
      <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
    </div>
</footer> 
</body>
</html>
