<!DOCTYPE html>
<html lang="en">
 <!--parcial del head del Admin-->
 <%- include('../parciales/adminHead') %>
<body>
  <!--parcial de la barra de ADMIN -->
  <%- include('../parciales/adminHeader') %>

  <main class="main-formulario">
    <fieldset>
    <legend class="titulo-fieldset">Estás editando: <%=producto.name %></legend>
      
      <form action="/admin/editar/<%=producto.id%>?_method=PUT" method="POST"  class="formulario-nuevo-producto" enctype="multipart/form-data">
        <div class="nombre-producto">
          <label for="producto" class="titulo-formulario-producto">NOMBRE DEL PRODUCTO:</label>
          <input type="text" name="nombre" id="producto" value= "<%=producto.name%>" required>
        </div>

       <div class="categoria-producto">
          <label for="categoria" class="titulo-formulario-producto">CATEGORIA DEL PRODUCTO:</label>
          <select name="categoria" id="categoria"required>
            <% for (let i=0; i < categorias.length; i++) { %> 
              <% if (categorias[i].id== producto.category_id){ %> 
              <option value="<%=categorias[i].id%>" selected>
              <%=categorias[i].category%>
              </option>
              <%} else {%> 
              <option value='<%=categorias[i].id%>'>
                <%=categorias[i].category%>
              </option>
              <%}%> 
          <%}%> 
          </select>
        </div>
      
        <div>
          <p class= titulo-formulario-producto>IMÁGEN DEL PRODUCTO:</p>
          <figure class="form-group">
              <img  class="foto-actual" src="/images/prendas/<%= producto.image%>" alt="articulo <%= producto.name%>">
          </figure>
         <input type="file" name="fotoPrinc" >

        </div>

        <div class="descripcion-producto">
          <label for="descripcion" class="titulo-formulario-producto" >DESCRIPCIÓN</label>
          <textarea rows="8" name="descripcion" id="descripcion"><%= producto.description%></textarea>
        </div>

        <div class="precio">
          <label for="precio" class="titulo-formulario-producto">PRECIO</label>
          <input type="tel" name="precio" id="precio" value="<%= producto.price%> " required>
        </div>
        <div>
            <label for="sale">PUBLICAR</label> <br>
            <select name="sale" id="sale">
              <option value="1"<% if (producto.sale=='1') { %>
              selected<% } %>>Si</option>

              <option value="0"<% if (producto.sale== '0') { %>
              
              selected<% } %>>No</option>
            </select>
          </div>
      <section class="opciones">
          <table  class="tabla-de-medidas">
            <p class= titulo-formulario-producto>OPCIONES DEL PRODUCTO</p>
              <tr>
              
                  <% for (let i=0; i<8; i++) {%> 
                    <td>Combinación <%=i+1 %></td>
                    <td><select name="color[<%=i%>]" id="color" class="eleccion-opciones<%= locals.errors && errors.colores ? "is-invalid" : null %>">
                          <option value="">Color</option>
                          <% for (let j=0; j < colores.length; j++) { %> 
                          <option  
                                  <% if (stocks[i] && stocks[i].color_id == colores[j].id) { %> 
                                    selected  
                                  <% } %>
                                  value="<%= colores[j].id %>"  ><%=colores[j].color%>
                          </option>
                          <% } %>
                        </select>
                    </td>
                    <td><select name="talles[<%=i%>]" id="talles" class="eleccion-opciones<%= locals.errors && errors.talles ? "is-invalid" : null %>">
                      <option value="">Talle</option>
                      <% for (let j=0; j < talles.length; j++) { %> 
                      <option
                      <% if (stocks[i] && stocks[i].size_id == talles[j].id) { %> 
                        selected  
                      <% } %>

                       value="<%= talles[j].id %>"><%=talles[j].size%> 
                      </option>
                      <% } %>
                      </select>
                      <%if (locals.errors && errors.talle){%>
                      <div class="text-danger">
                        <%=errors.talle.msg%>
                      </div>
                      <%}%>
                    </td>
                    <td>
                      <select name="stock[<%=i%>]" id="stock" class="eleccion-opciones<%= locals.errors && errors.stock ? "is-invalid" : null %>">
                        <option value="">Stock</option>
                        <% for (let j=0; j < 5; j++) { %> 
                        <option 
                        
                        <% if (stocks[i] && stocks[i].stock == j) { %> 
                          selected  
                        <% } %>  

                         value="<%=j%>"><%=j%> 
                        </option>
                        <% } %>
                        </select>
                        <%if (locals.errors && errors.stock){%>
                        <div class="text-danger">
                          <%=errors.stock.msg%>
                        </div>
                        <%}%>
                    </td>
                  </tr>
                    <% } %> 
               
             
            </table>






          <div class="boton-producto">
            <button class="agregar" type="submit">MODIFICAR PRODUCTO</button>
          </div>
        </div>
      </form>
    </fieldset> 
  </main> 
  <footer>
    <div class="cabeza-footer">
    <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
    </div>
</footer> 
</body>
</html>
