<!DOCTYPE html>
<html lang="en">
 <!--parcial del head del Admin-->
 <%- include('../parciales/adminHead') %>
<body>
  <!--parcial de la barra de ADMIN -->
  <%- include('../parciales/adminHeader') %>

  <main class="main-formulario">
    <fieldset>
    <legend class="titulo-fieldset">AGREGAR UN NUEVO PRODUCTO</legend>
      
      <form action="/admin/newProduct" method="POST"  class="formulario-nuevo-producto" enctype="multipart/form-data" id="formularioProducto">
        <!-- nombre producto -->
        <div class="nombre-producto">
          <label for="nombre" class="titulo-formulario-producto formulario__label">NOMBRE DEL PRODUCTO:</label>
          
          <div class="formulario__grupo" id="grupo__nombreProducto">
            <div class="formulario__grupo-input">
            <input type="text" name="nombre" id="nombre" placeholder="Ej: REMERA MILÁN" class="formulario__input <%=locals.errors && errors.nombre ? "is-invalid" :null %> "value="<%= locals.oldData ? oldData.nombre :null%>">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El nombre del producto debe tener al menos 5 caracteres, solo se permiten letras.</p>
        </div>
        <%if (locals.errors && errors.nombre){%>
          <div class="text-danger">
            <%=errors.nombre.msg%>
          </div>
          <%}%>
        </div>
        
        <!-- categoria  -->
        <div class="categoria-producto">
          <label for="categoria" class="titulo-formulario-producto">CATEGORIA DEL PRODUCTO:</label>
          <select 
            name="categoria" 
            id="categoria"
            class="eleccion-opciones 
            <%= locals.errors && errors.categoria ?  "is-invalid" : null %>">
            <option value="">Elegí una categoría</option>

            <% for (let i=0; i < categorias.length; i++) { %> 
            <option <%if (locals.oldData && locals.oldData.categoria) { %>
                        <% if (locals.oldData.categoria == categorias[i].id) { %> 
                          selected
                          <% } %> 
                  <% } %> 
                value="<%= categorias[i].id %>"><%=categorias[i].category%> 
            </option>
            <% } %>

          </select>
          <%if (locals.errors && errors.categoria){%>
            <div class="text-danger">
              <%=errors.categoria.msg%>
            </div>
          <%}%>
        </div>
      </div>
      <!-- imagen del producto -->
        <p class= titulo-formulario-producto>IMÁGEN DEL PRODUCTO</p>
        <div class="fotos-producto">
          <div class="foto"> 
              <i class="fas fa-camera"></i>
          </div>
          <div class="input-foto">
              <label for="foto-principal" name="fotoPrinc"class="titulo-imagen formulario__label">IMAGEN PRINCIPAL</label>
              <input type="file" class="foto-principal" name= "fotoPrinc" id="foto-principal">
              <%if (locals.errors && errors.fotoPrinc){%>
                <div class="text-danger">
                  <%=errors.fotoPrinc.msg%>
                  <%}%>
                </div>
            </div>
        </div>

 <!-- descripcion del producto -->
        
          
          <div class="formulario__grupo descripcion-producto" id="grupo__descripcion">
          <label for="descripcion" class="titulo-formulario-producto formulario__label">DESCRIPCIÓN</label>

          <div class="formulario__grupo-input">
          <input type="text" name="descripcion"  id="descripcion" class="formulario__input<%=locals.errors && errors.descripcion ? "is-invalid" :null %> " value="<%= locals.oldData ? oldData.descripcion :null%>" ></input>
          <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div>
        <p class="formulario__input-error">La descripcion del producto debe tener al menos 20 caracteres</p> 
        

          <%if (locals.errors && errors.descripcion){%>
            <div class="text-danger">
              <%=errors.descripcion.msg%>
            </div>
          <%}%>
        </div>
<!-- precio del producto -->
        <div class="precio">
          <label for="precio" class="titulo-formulario-producto formulario__label">PRECIO</label>
          
          <div class="formulario__grupo" id="grupo__precio">
          <input type="tel" name="precio" id="precio"class="formulario__input <%=locals.errors && errors.precio ? "is-invalid" :null %> " value="<%= locals.oldData ? oldData.precio :null%>">
        </div>

          <% if(locals.errors && errors.precio){%>
            <div class="text-danger">
              <%=errors.precio.msg%>
            </div>
              <% } %> 
            
        </div>
   <!-- publicar producto -->
        <div class="publicar">
            <label for="sale" class= "titulo-formulario-producto formulario__label">PUBLICAR:</label>
            <select 
                name="sale" 
                id="sale"
                class="eleccion-opciones <%= locals.errors && errors.sale ?  "is-invalid" : null %>">
            
                <option value="">Elegí una opción</option>

                <option <% if(locals.oldData && locals.oldData.sale =="1"){%>  selected <%}%>
                  value="1">Si</option>
                <option <% if(locals.oldData && locals.oldData.sale =="0"){%>  selected <%}%>
                  value="0">No</option>
            </select>
            
            <div>
              <% if(locals.errors && errors.sale){%>
              <div class="text-danger">
                <%=errors.sale.msg%>
              </div>
                <% } %> 
            </div>
        </div>

        <section class="opciones">
          <table  class="tabla-de-medidas">
            <p class= titulo-formulario-producto>OPCIONES DEL PRODUCTO</p>
              <tr>
                <% for (let i=0; i<8; i++) {%> 
                  <td>Combinación <%=i+1 %></td>
                  <td><select name="color[<%=i%>]" id="color" class="eleccion-opciones<%= locals.errors && errors.colores ? "is-invalid" : null %>">
                        <option value="">Color</option>
                        <% for (let j=0; j < colores.length; j++) { %> 
                        <option <%if (locals.oldData && locals.oldData.color && locals.oldData.color[i]) { %>
                                <% if (locals.oldData.color[i] == colores[j].id) { %> 
                                selected
                                <% } %> 
                              <% } %> 
                         value="<%= colores[j].id %>"><%=colores[j].color%> 
                        </option>
                        <% } %>
                      </select>
                        <%if (locals.errors && errors.color){%>
                        <div class="text-danger">
                          <%=errors.color.msg%>
                        </div>
                      <%}%>
                  </td>
                  <td><select name="talles[<%=i%>]" id="talles" class="eleccion-opciones<%= locals.errors && errors.talles ? "is-invalid" : null %>">
                    <option value="">Talle</option>
                    <% for (let j=0; j < talles.length; j++) { %> 
                    <option <%if (locals.oldData && locals.oldData.talles && locals.oldData.talles[i]) { %>
                            <% if (locals.oldData.talles[i] == talles[j].id) { %> 
                            selected
                            <% } %> 
                          <% } %> 
                     value="<%= talles[j].id %>"><%=talles[j].size%> 
                    </option>
                    <% } %>
                    </select>
                    <%if (locals.errors && errors.talles){%>
                    <div class="text-danger">
                      <%=errors.talle.msg%>
                    </div>
                    <%}%>
                  </td>
                  <td>
                    <select name="stock[<%=i%>]" id="stock" class="eleccion-opciones<%= locals.errors && errors.stock ? "is-invalid" : null %>">
                      <option value="">Stock</option>
                      <% for (let j=1; j < 5; j++) { %> 
                      <option <%if (locals.oldData && locals.oldData.stock && locals.oldData.stock[i]) { %>
                              <% if (locals.oldData.stock[i] == j) { %> 
                              selected
                              <% } %> 
                            <% } %> 
                       value="<%=j%>"><%=j%> 
                      </option>
                      <% } %>
                      </select>
                      <%if (locals.errors && errors.stock){%>
                      <div class="text-danger">
                        <%=errors.stock.msg%>
                      </div>
                      <%}%>
                  </td>
                </tr>
                  <% } %> 
             
           
        </table>

        <div class="boton-producto">
            <button class="agregar" type="submit">AGREGAR PRODUCTO</button>
        </div>

        <div class="formulario__mensaje" id="formulario__mensaje">
          <p class="colorMensaje"><i class="fas fa-exclamation-triangle"></i> <b> Error:</b> Por favor rellena el formulario correctamente.</p>
      </div>

      </form>
    </fieldset> 
  </main> 
  <footer>
    <div class="cabeza-footer">
      <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
    </div>
</footer> 
<script src="/js/productValidatorFront.js"></script>
</body>
</html>