<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

    <main>
            <form action="/user" method="POST" class="login">
            
                <fieldset>

                    <legend>¡INGRESA!</legend>
                    <div class="usuario">
                        
                            <label for="email"><b>Email:</b></label> <br>
                            <input type="text" name="email" id="email" placeholder="Ingresa tu email de registro">
                            <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %> 
                            </div>
                            <% } %>
                    </div>
                    <div class="contraseña">
                    
                        <label for="password"><b>Contraseña:</b> </label> <br>
                        <input type="password" name="password" id="password" placeholder="Introducir tu clave">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %> 
                            </div>
                        <% } %>
                    
                    </div>
                    <p>
                    
                        <div class="caja-recuerdame">
                        <button type="submit" class="entrar">ENTRAR</button></div> 

                    </p>
                    <p>
                        <a href="#">¿Olvidaste la Contraseña?</a>
                        
                    </p>
                    <p>
                        <a href="user/register">¿TODAVIA NO TENES CUENTA? <I class="form-reg">¡REGISTRATE!</I></a>

                    </p>
                </fieldset>
            </form>

        <!--BOTON DE WHATSAPP-->

        <button class="button-whatsapp" >
            <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                <img src="/images/web/whatsapp.png" alt="whatsapp" class="whatsapp">
            </a>
        </button>
    </main>
  <!--footer del partial-->
<%- include('../parciales/footer') %>
</body>
</html>