<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

    <main>
    
        <form action="/user/modificar/<%=Usuario.id%>?_method=PUT" method="POST" class="register-form" enctype="multipart/form-data">
            <fieldset>
                <legend class="titulo-modificar">MODIFICAR DATOS DE <%=Usuario.name%></legend>

                    <div class="datos-registro">
                        <label for="nombre"class="label-nombre">Nombre y Apellido:</label> 
                        <input type="text" name="nombre" id="nombre"  value="<%=Usuario.name%>" >
                        <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %> 
                        </div>
                        <% } %>

                    </div>

                    
                    <div class="datos-registro">
                        <label for="direccion">Dirección:</label> 
                        <input type="text" name="direccion" id="calle" placeholder="Calle" value="<%=Usuario.street%>" >
                        <% if (locals.errors && errors.direccion) { %>
                        <div class="text-danger">
                            <%= errors.direccion.msg %> 
                        </div>
                        <% } %>
                        <input type="number" name="numero" id="numero-puerta" placeholder="Número" value="<%=Usuario.number%>" >
                        <% if (locals.errors && errors.numero) { %>
                        <div class="text-danger">
                            <%= errors.numero.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    
                    <div class="datos-registro">
                        <label for="ciudad">Ciudad:</label> 
                        <input type="text" name="ciudad" id="ciudad" value="<%=Usuario.city%>" >
                        <% if (locals.errors && errors.ciudad) { %>
                        <div class="text-danger">
                            <%= errors.ciudad.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    <div class="datos-registro">
                        <label for="provincia">Provincia:</label> 
                        <select name="provincia" id="provincia"class="eleccion-opciones"
                        <% if (locals.errors && errors.provincia) { %>
                        class="text-danger">
                              <%= errors.provincia.msg %> 
                          <% } %>">
                            
                            <option value="">Elija una opción</option>
                            
                            <% for (let i=0; i < provincias.length; i++) { %> 
                                <option <%if (locals.oldData && locals.oldData.provincia) { %>
                                 <% if (locals.oldData.provincia == provincias[i].state) { %> 
                                           selected
                                            <% } %> 
                                        <% } %> 
                                   value="<%= provincias[i].id %>"><%=provincias[i].state%> 
                                </option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.provincia) { %>
                                <div class="text-danger">
                                    <%= errors.provincia.msg %> 
                                </div>
                                <% } %>
                        </div>
                        
                        <div class="datos-registro">
                            <label for="codigo-postal">Código Postal:</label> 
                            <input type="number" name="codigoPostal" id="codigo-postal" value="<%= Usuario.postal_code%>">

                            <% if (locals.errors && errors.codigoPostal) { %>
                        <div class="text-danger">
                            <%= errors.codigoPostal.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="telefono">Teléfono:</label> 
                            <input type="number" name="telefono" id="telefono" value="<%= Usuario.phone %>">
                            <% if (locals.errors && errors.telefono) { %>
                        <div class="text-danger">
                            <%= errors.telefono.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="email">Email:</label> 
                            <input type="email" name="email" id="email" value="<%=Usuario.email%> " required>
                            <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="clave">Contraseña: </label> 
                            <input type="password" name="password" id="password" placeholder="Introducir tu clave" >

                            <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                        <% } %>

                        </div>

                        <div class="datos-registro">
                            <label >Imagen de perfil</label> 
                             <figure class="form-group">
                             <img  width="30%" class="foto-user" src="/images/avatars/<%= Usuario.image%>" alt="usuario <%= Usuario.name%>">
                            </figure>
                            <input type="file" name="avatar" id="avatar" >
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %> 
                                </div>
                                <% } %>
                    
                        </div>
                     
                        
                        <div class="enviar-registro">
                            <button type="submit" class="enviar">ACTUALIZAR</button>
                        </div>
                        
            </fieldset>
        </form>
            <!--BOTON DE WHATSAPP-->
            <button class="button-whatsapp" >
                <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                    <img src="/images/web/whatsapp.png" alt="whatsapp" class="whatsapp">
                </a>
            </button>
                        
    </main>
    <!--footer del partial-->
<%- include('../parciales/footer') %>

</body>
</html>