<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

    <main>
    
        <form action="/user/register" method="POST" class="register-form" enctype="multipart/form-data">
            <fieldset>
                <legend>¡REGISTRATE!</legend>

                    <div class="datos-registro">
                        <label for="nombre"class="label-nombre">Nombre y Apellido:</label> 
                        <input type="text" name="fullName" id="nombre"  value="<%= locals.oldData ? oldData.fullName : null%>" >
                        <% if (locals.errors && errors.fullName) { %>
                        <div class="text-danger">
                            <%= errors.fullName.msg %> 
                        </div>
                        <% } %>

                    </div>

                    
                    <div class="datos-registro">
                        <label for="direccion">Dirección:</label> 
                        <input type="text" name="direccion" id="calle" placeholder="Calle" value="<%= locals.oldData ? oldData.direccion : null%>" >
                        <% if (locals.errors && errors.direccion) { %>
                        <div class="text-danger">
                            <%= errors.direccion.msg %> 
                        </div>
                        <% } %>
                        <input type="number" name="numero" id="numero-puerta" placeholder="Número" value="<%= locals.oldData ? oldData.numero : null%>" >
                        <% if (locals.errors && errors.numero) { %>
                        <div class="text-danger">
                            <%= errors.numero.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    
                    <div class="datos-registro">
                        <label for="ciudad">Ciudad:</label> 
                        <input type="text" name="ciudad" id="ciudad" value="<%= locals.oldData ? oldData.ciudad : null%>" >
                        <% if (locals.errors && errors.ciudad) { %>
                        <div class="text-danger">
                            <%= errors.ciudad.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    <div class="datos-registro">
                        <label for="provincia">Provincia:</label> 
                        <select name="provincia" id="provincia">
                            
                            <option value="">Elija una opción</option>
                            <% 
                                let provincias = ['Ciudad Autónoma de BsAs','Bs. As.', 'Catamarca','Chaco', 'Chubut', 'Cordoba', 'Corrientes','Entre Rios', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja','Mendoza','Misiones','Neuquen','Rio Negro','Salta','SanJuan','SanLuis','Santa Cruz','Santa Fe','Sgo. del Ester','Tierra del Fuego','Tucuman']
                                %> 
                            <% for( const unaProvincia of provincias) { %>

                                <option  
                                value="<%=unaProvincia %>" <%= locals.oldData && (unaProvincia === oldData.provincia) ? "selected" : null %> > <%= unaProvincia %> </option>
                                <% } %>
                                
                            </select>
                            <% if (locals.errors && errors.provincia) { %>
                                <div class="text-danger">
                                    <%= errors.provincia.msg %> 
                                </div>
                                <% } %>
                        </div>
                        
                        <div class="datos-registro">
                            <label for="codigo-postal">Código Postal:</label> 
                            <input type="number" name="codigoPostal" id="codigo-postal" value="<%= locals.oldData ? oldData.codigoPostal : null %> ">

                            <% if (locals.errors && errors.codigoPostal) { %>
                        <div class="text-danger">
                            <%= errors.codigoPostal.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="telefono">Teléfono:</label> 
                            <input type="number" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : null %> ">
                            <% if (locals.errors && errors.telefono) { %>
                        <div class="text-danger">
                            <%= errors.telefono.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="email">Email:</label> 
                            <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %> " required>
                            <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="datos-registro">
                            <label for="clave">Contraseña: </label> 
                            <input type="password" name="password" id="password" placeholder="Introducir tu clave" >

                            <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                        <% } %>

                        </div>

                        <div class="datos-registro">
                            <label >Imagen de perfil</label> 
                            <input type="file" name="avatar" id="avatar" >
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %> 
                                </div>
                                <% } %>
                    
                        </div>
                        
                        <div class="acepto-newsletter">
                            <input type="radio" name="aceptoTerminos" id="" >
                            <label for="acepto-terminos">Acepto terminos y condiciones</label>
                            <% if (locals.errors && errors.aceptoTerminos) { %>
                        <div class="text-danger">
                            <%= errors.aceptoTerminos.msg %> 
                        </div>
                        <% } %>

                        </div>
                        <div class="acepto-newsletter">
                            <input type="radio" name="newsletter">
                            <label for="newsletter">Quiero recibir ofertas y descuentos especiales </label>
                            
                        </div>
                        
                        <div class="enviar-registro">
                            <button type="submit" class="enviar">ENVIAR</button>
                        </div>
                        
            </fieldset>
        </form>
            <!--BOTON DE WHATSAPP-->
            <button class="button-whatsapp" >
                <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                    <img src="/images/whatsapp.png" alt="whatsapp" class="whatsapp">
                </a>
            </button>
                        
    </main>
    <!--footer del partial-->
<%- include('../parciales/footer') %>

</body>
</html>