<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

    <main>
    
        <form action="/user/register" method="POST" class="register-form" enctype="multipart/form-data" id="formularioRegister">
            <fieldset>
                <legend>¡REGISTRATE!</legend>

                    <div class=" formulario_grupo datos-registro" id="nombreApellido">
                        <label for="nombre" class="formulario_label label-nombre">Nombre y Apellido:</label> 
                        
                    <div class="formulario__grupo-input">
                        <input class="formulario__input" type="text" name="nombre" id="nombre"  value="<%= locals.oldData ? oldData.nombre : null%>" >
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario_input-error">El Nombre y Apellido no debe contener ni signos ni numeros</p>
                        
                        <!--validaciopn lado backend-->
                        <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %> 
                        </div>
                        <% } %>
                        
                    </div>

                    
                    <div class="formulario_grupo  datos-registro" id="direccionUsuario">
                        <label for="direccion">Dirección:</label> 

                        <div class="formulario__grupo-input">
                            <input class="formulario__input" type="text" name="direccion" id="calle" placeholder="Calle" value="<%= locals.oldData ? oldData.direccion : null%>" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input-error">El nombre de la calle no debe contener ni signos ni numeros</p>
                        
                        <% if (locals.errors && errors.direccion) { %>
                        <div class="text-danger">
                            <%= errors.direccion.msg %> 
                        </div>
                        <% } %>

                        <div >
                            <input class="formulario__input" type="number" name="numero" id="numero-puerta" placeholder="Número" value="<%= locals.oldData ? oldData.numero : null%>" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input-error">El numero de la casa no debe contener ni letras,ni signos</p>
                    
                        <% if (locals.errors && errors.numero) { %>
                        <div class="text-danger">
                            <%= errors.numero.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    
                    <div class="formulario_grupo datos-registro" id="ciudadUsuario">
                        <label for="ciudad">Ciudad:</label> 

                    <div class="formulario__grupo-input">
                        <input class="formulario__input" type="text" name="ciudad" id="ciudad" value="<%= locals.oldData ? oldData.ciudad : null%>" >
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario_input-error">El Nombre del la ciudad no debe contener ni signos ni numeros</p>

                        <% if (locals.errors && errors.ciudad) { %>
                        <div class="text-danger">
                            <%= errors.ciudad.msg %> 
                        </div>
                        <% } %>

                    </div>
                    
                    <div class="datos-registro" id="provinciaUsuario">
                        <label for="provincia">Provincia:</label> 
                        <select name="provincia" id="provincia"
                     class="eleccion-opciones"
                      <% if (locals.errors && errors.provincia) { %>
                      class="text-danger">
                            <%= errors.provincia.msg %> 
                        <% } %>">

                        <option value="">Elegí una opción</option>

                        <% for (let i=0; i < provincias.length; i++) { %> 
                         <option <%if (locals.oldData && locals.oldData.provincia) { %>
                          <% if (locals.oldData.provincia == provincias[i].state) { %> 
                                    selected
                                     <% } %> 
                                 <% } %> 
                            value="<%= provincias[i].id %>"><%=provincias[i].state%> 
                     </option>
                     <% } %>

                     </select>
                        </div>
                        
                        <div class="formulario_grupo datos-registro" id="codigoPostalUsuario">
                            <label for="codigo-postal">Código Postal:</label> 
                            
                        <div class="formulario__grupo-input">
                            <input class="formulario__input" type="number" name="codigoPostal" id="codigo-postal" value="<%= locals.oldData ? oldData.codigoPostal : null %>">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input-error">El codigo postal debe contener solo numeros y un maximo de 4 digitos</p>

                            <% if (locals.errors && errors.codigoPostal) { %>
                        <div class="text-danger">
                            <%= errors.codigoPostal.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="formulario_grupo datos-registro" id="telefonoUsuario">
                            <label for="telefono">Teléfono:</label> 
                        
                        <div class="formulario__grupo-input">
                            <input class="formulario__input" type="number" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : null %>">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input-error">El numero de telefono debe contener solo numeros y un maximo de 14 digitos.</p>

                            <% if (locals.errors && errors.telefono) { %>
                        <div class="text-danger">
                            <%= errors.telefono.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="formulario_grupo datos-registro" id="emailUsuario">
                            <label for="email">Email:</label>
                    
                        <div class="formulario__grupo-input">
                            <input class="formulario__input" type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %> " >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div> 
                        <p class="formulario_input-error">el correo solo puede contener letras, numero, puntos, guiones y guion bajo.</p>

                            <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                        <% } %>

                        </div>
                        
                        <div class="formulario_grupo datos-registro" id="contraseniaUsuario">
                            <label for="clave">Contraseña: </label> 
                            
                        <div class="formulario__grupo-input">
                            <input class="formulario__input" type="password" name="password" id="password" placeholder="Introducir tu clave" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario_input-error">la contraseña tiene que ser de 4 a 12 digitos</p>

                            <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                        <% } %>

                        </div>

                        <div class="datos-registro" >
                            <label >Imagen de perfil</label> 
                            <input type="file" name="avatar" id="avatar">
                            <div id="imagePreview"></div>
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %> 
                                </div>
                                <% } %>
                    
                        </div>
                        
                        <div class=" formulario_grupo acepto-newsletter" id="aceptoTerminosUsuario">
                            <div class="formulario__grupo-input">
                            <label for="acepto-terminos">
                                <input class="formulario__checkbox"  type="radio" name="aceptoTerminos" id="aceptoTerminos" value="1">
                                Acepto terminos y condiciones
                            </label>
                            </div>

                            
                            
                            <% if (locals.errors && errors.aceptoTerminos) { %>
                        <div class="text-danger">
                            <%= errors.aceptoTerminos.msg %> 
                        </div>
                        <% } %>

                        </div>
                        <div class="acepto-newsletter">
                            <input type="radio" name="newsletter">
                            <label for="newsletter">Quiero recibir ofertas y descuentos especiales </label>
                            
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p><i class="fas fa-exclamation-triangle"></i><b>Por favor rellena el formulario correctamente.</b></p>
                        </div>
                        
                        <div class="enviar-registro" >
                            <button type="submit" class="enviar">ENVIAR</button> 
                            <p class="formulario__mensaje-exito"> Formulario enviado con exito!</p>
                        </div>
                        
            </fieldset>
        </form>
            <!--BOTON DE WHATSAPP-->
            <button class="button-whatsapp" >
                <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                    <img src="/images/web/whatsapp.png" alt="whatsapp" class="whatsapp">
                </a>
            </button>
                        
    </main>
    <!--footer del partial-->
<%- include('../parciales/footer') %>
<script src="/js/userValidatorFront.js"></script>
<script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>
</body>
</html>