<!DOCTYPE html>
<html lang="en">

<!--head del partial-->
<%- include('../parciales/head') %>

<body>
<!--header del partial -->
<%- include('../parciales/header') %>

<main>
<img src="/images/web/carrusel1.png" alt="" width="100%"class="carrusel-image" >
<!-- <div class="form" action="#" method="GET">
<input type="search" name="busquedas" size="30"  placeholder="Busca productos, marcas y más...">

    <input type="submit" value="Buscar">
</div>  -->
<h2 class="titulo-productos">NUESTROS PRODUCTOS</h2>
<section class="secciones-articulos">

    <article class="articulos-linea1">

        <% for( let i = 0; i < 8; i++ ) { %>

        <div class="articulos-index">
            
            <div class="foto-producto">
                <a href= "/products/detalle/<%= sale[i].id %> "> 
                    <img src="/images/prendas/<%= sale[i].imagen %> " alt="Foto-Producto" class="foto-producto">
                </a>
            </div>
            <div class="descripciones">
                <p> <%= sale[i].nombre %>  </p>
            </div>
            <div class="precios">
                <p>$<%= sale[i].precio %> </p>
            </div>
            <div class="loQuiero">
                <a href="/products/detalle/<%= sale[i].id %> ">LO QUIERO!</a>
            </div>
        </div>
    <% } %>
    </article>
    
    <!-- <button class="ver-mas"> MAS PRODUCTOS  <i class="fas fa-arrow-down"></i></button> -->
</section>

<!--BOTON DE WHATSAPP-->
<button class="button-whatsapp" >
    <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
        <img src="/images/web/whatsapp.png" alt="whatsapp" class="whatsapp">
    </a>
</button>

</main>
<!--footer del partial-->
<%- include('../parciales/footer') %>
</body>
</html>